*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: font;
    a{
        all: unset;
        cursor: pointer;
    }
}
@font-face {
    font-family: font;
    src: url(../Font/yekan-regular.ttf);
}
body{
    background:rgb(226, 226, 226) ;
}